:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORS */
  --popup-color-background: #2D2D2D;
  --main-color-background: #171717;
  --main-color-menu: #060606;
  --main-color-accent: #E40914;
  --main-color-notation: #6D153D;
  --main-color-star: #DD960E;
  --main-color-text: #D9D9D9;
}

body {
  background-color: var(--main-color-background);
  color: var(--main-color-text);
  margin: 0;
}