.bookmarkComponent__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.movieCard__bookmarkIcon__iconContainer {
    position: absolute;
    margin: 0.2rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--main-color-background);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.movieCard__bookmarkIcon {
    height: 1.5rem;
}

