
.checkmark--container {
    background-color: var(--popup-color-background);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkmark--icon {
    height: 1.8rem;
}