.Details-container {
    margin: 50px auto;
    padding: 2rem;
    box-sizing: border-box;
    width: 90%;
    max-width: 700px;
    background-color: var(--popup-color-background);
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.Details__close-button {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 8px;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: inherit;
}


.Details__mainInfos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
}

.Details__mainInfos--title-container {
    display: flex;
    align-items: baseline;
    gap: 1rem;

}

.Details__mainInfos--title {
    margin: 0;
    font-size: 1.5rem;
}

.Details__mainInfos--year {
    font-size: 0.9rem;
}

.Details__mainInfos--category {
    font-size: 0.9rem;
    font-weight: 400;
}

.Details__mainInfos--check {
    text-align: right;
}

.Details__mainInfos--personnalRating {
    font-size: 0.9rem;
    text-align: right;
}

.Details__mainInfos--personnalRating .star-svg {
    width: 25px;
}

.Details__synopsis--title {
 font-size: 1.2rem;
}

.Details__synopsis--content {
 font-size: 0.9rem;
}
