.Header {
  position: relative;
  width: 100%;
  height: 80vh;
  box-shadow: 0px 3px 15px 0px rgba(20, 20, 20, 0.5);
}

.Header__background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*gradients haut et bas*/
.Header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(20, 20, 20, 0.95));
}

.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));

}

.Header__logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  margin-left: 1rem;
}

.Header__logo-container--logo {
  width: 100%;
}

.Header__movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  z-index: 1;
}

.Header__movie-info--title {
  margin: 0;
  font-size: 1.5rem;
}

.Header__movie-info--year {
  margin: 0;
}

.Header__movie-button {
  position: absolute;
  bottom: 10px;
  right: 0;
  margin: 1rem;
  z-index: 1;
  background-color: rgba(23, 23, 23, 0.8);
  border: 1px solid rgba(217, 217, 217, 0.5);
  border-radius: 5px;
  color: var(--main-color-text);
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (min-width: 768px) {

    .Header__logo-container {
      width: 200px;
      margin-left: 2rem;
    }
  
    .Header__movie-info {
      margin: 2rem;
    }
  
    .Header__movie-info--title {
      font-size: 2.5rem;
    }

    .Header__movie-info--year {
      font-size: 1.5rem;
    }
  
    .Header__movie-button {
      right: 50px;
      margin: 2rem;
      padding: 10px 20px;
      font-size: 1.1rem;
    }
  
    .Header__movie-button:hover {
      background-color: rgba(23, 23, 23, 0.9);
      cursor: pointer;
    }
}