.movieCard__container { 
    position: relative;
}

.movieCard__img {
    height: 11rem;
    width: auto;
    border-radius: 3px;
}

/* Bottom gradient */
.movieCard__container::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(1, 1, 1, 0.411) 96.23%);
    height: 30%;
}

@media (min-width: 768px) {
    .movieCard__img {
        height: 226px;
        width: auto;
        border-radius: 3px;
    }
}