.myList__CategorySlider__container {
    width: 100%;
}

.myList__CategorySlider {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    overflow-x: hidden;
    overflow: scroll;
    scrollbar-width: none; 
}

.myList__CategorySlider li {
    font-weight: 500;
}

.categoryName--removeLinkAppearance {
    color: var(--main-color-text);
    text-decoration: none;
}