.slider__container {
    overflow: hidden;
    overflow: scroll;
    width: 100%;
    height: auto;
}

.movieCardSlideshow__container {
    display: flex; 
    flex-direction: row;
    gap: 11px; 
}

/* @media (min-width: 600px) {
    .movieCardSlideshow__container {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .movieCardSlideshow__container {
        width: 33.33%;
    }
} */