.MovieList__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*TODO : modifier pour écran + grand. Exemple: repeat(5, 1fr);*/
    gap: 0.7rem;
    margin: 1rem;
}

@media (min-width: 768px) {
    .MovieList__container {
        grid-template-columns: repeat(5, 1fr);
        gap: 1.2rem;
        margin: 2rem;
    }

}