.MovieListItem__card {
    position: relative;
}

.MovieListItem__img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}


@media (min-width: 768px) {
    .MovieListItem__img {
        transition: transform 0.3s ease-out; /* Ajoute une transition fluide de 0.3 secondes sur la propriété transform */
    }

    .MovieListItem__img:hover {
        cursor: pointer;
        transform: scale(1.03); /* Agrandit l'image au survol */
        z-index: 0; /*reste derrière les icônes au survol*/
    }
}