.MyList {
    padding-bottom: 100px; /*permet au footer de ne pas cacher le contenu*/
}

.myList__headerContainer { 
    position: relative;
}

.myList__headerContainer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, var(--main-color-background) 90.23%);
    height: 40%;
}

.myList__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myList__logoNetflim {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    margin-left: 2rem;
}

.titleAndFilter__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filterIcon {
    height: 2rem;
    margin: 2rem;
}

.myList__movieContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*TODO : modifier pour écran + grand. Exemple: repeat(5, 1fr);*/
    gap: 0.7rem;
    margin: 1rem;
}

@media (min-width: 768px) {
    .myList__movieContainer {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 1270px) {
    .myList__movieContainer {
        grid-template-columns: repeat(4, 1fr); 
    }
}