.PosterDetails {
    background-color: black;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 3px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 20px 0px;
}


@media (min-width: 768px) {

    .PosterDetails .MovieListItem__img {
        transition: none;
    }

    .PosterDetails .MovieListItem__img:hover {
        cursor: initial;
        transform: none;
    }
}