.ProfilPicture {
  flex-shrink: 0;
  fill: #000;
  bottom: 0;
  left:45%;
  border-radius: 50%;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  position: absolute;
  background-color: #000;
}

img.Parameters {
  position: absolute;
  flex-shrink: 0;
  fill: #000;
  right: 10px;
  cursor: pointer;
}

.Header_container {
position: relative;
}

.Header__background-img {
  width: 100%;
  object-fit: cover;
  
}


section {
  max-width: 100%;
}

.dataContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.content {
  padding: 10px;
  text-align: center;
}

.Profile_pseudo {
  text-align: center;
}
