.Rating-container {
    background-color: rgba(6, 6, 6, 0.50);
    width: 50px;
    height: 50px; /*hauteur du container*/
    border: 3px solid var(--main-color-notation);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    color : var(--main-color-text);
    position: absolute;
    bottom : -25px; /*moitié de la hauteur du container pour être centré*/
    left: 25px;
}

.Rating-container span {
    font-size: 0.5rem;
    padding-top: 4px;
    padding-left: 2px;
}