.search__headerContainer { 
    position: relative;
}

.search__headerContainer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, var(--main-color-background) 90.23%);
    height: 40%;
}

.search__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search__logoNetflim {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    margin-left: 1rem;
}

.search__titleAndSearchBar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#searchBar {
    margin-inline: 2rem;
    border-radius: 5px;
    border: none;
    height: 1.5rem;
    background-color: var(--main-color-text);
}

.search__resultContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*TODO : modifier pour écran + grand. Exemple: repeat(5, 1fr);*/
    gap: 0.7rem;
    margin: 1rem;
}

@media (min-width: 768px) {
    .search__resultContainer {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 1270px) {
    .search__resultContainer {
        grid-template-columns: repeat(4, 1fr); 
    }
}