.btnSeeMore__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnSeeMore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 1.2rem;
    background-color: var(--popup-color-background);
    border: none;
    border-radius: 5px;
    margin-right: 0.7rem;
}

.chevronIcon {
    height: 1.5rem;
}